.home-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-link {
  display: none;
  align-items: center;
}
.show-nav {
  display: block;
}
.line {
  width: 2px;
  height: 25px;
  background-color: #011868;
  display: none;
}
.cta {
  display: none;
}

.hero {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.hero__left {
  padding: 0 8px;
  width: 100%;
}
.btn-shadow {
  box-shadow: 5px 2px 10px 1px rgba(1, 24, 104, 0.79);
  -webkit-box-shadow: 5px 2px 10px 1px rgba(1, 24, 104, 0.79);
  -moz-box-shadow: 5px 2px 10px 1px rgba(1, 24, 104, 0.79);
}

.hero__left .mobile-text {
  font-size: 2rem;
}
.hero__left .large-text {
  display: none;
}
.hero__right {
  width: 100%;
}
.user-img {
  width: 95vw;
  margin: 0 auto;
}

.how-it {
  font-size: 3rem;
}
.para {
  font-size: 1.5rem;
}
.para1 {
  font-size: 1.25rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
}

@media screen and (min-width: 900px) {
  .home-nav {
    flex-direction: row;
  }
  .nav-link {
    display: flex;
  }
  .hero {
    flex-direction: row;
    gap: 3%;
  }
  .user-img {
    width: auto;
  }
  .hero__left {
    padding: 5%;
    width: 50%;
    flex-grow: 1;
  }
  .hero__right {
    width: 50%;
  }
  .hero__left .mobile-text {
    display: none;
  }
  .hero__left .large-text {
    font-size: 4.5rem;
    display: block;
  }
  .line {
    display: block;
  }
  .cta {
    display: block;
  }
  .nav-header {
    display: block;
    width: max-content;
  }
  .footer {
    flex-direction: row;
  }
}
.sidebar {
  min-width: 300px;
  height: 100vh;
  background-color: #011868;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
  transform: translateX(100%);
  transition: 0.5s all linear;
  padding: 15% 0;
}

.show-sidebar {
  transform: translateX(0);
  transition: 0.5s all linear;
}
.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar-links ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sidebar-links ul li {
  background-color: #ffffff;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-links ul li:hover {
  padding-left: 10px;
  transition: 0.25s all linear;
}
.toggle {
  position: absolute;
  right: 10px;
  top: 3%;
  border: none;
}
.sidebar-btn {
  justify-self: center;
  display: flex;
  justify-content: center;
  gap: '20px';
}
.sidebar-btn button {
  background-color: #ffffff;
  margin-right: 10px;
  border: none;
  padding: 4px 8px;
  border-radius: 8px;
}
.sidebar-btn button:hover {
  transform: scale(1.1);
  transition: all 0.25s linear;
}
.custom-footer {
  width: 100%;
}
